/* 토글버튼 s*/

.tgl {
  display: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: inline-block;
  /* width: 4em;
  height: 2em; */
  width: 50px;
  height: 26px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tgl-light + .tgl-btn {
  background: #eaeaea;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border: 1px solid #dddddd;
}
.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}
.tgl + .tgl-btn:after {
  left: 2px;
  top: 2px;
}
.tgl + .tgl-btn:after,
.tgl + .tgl-btn:before {
  position: relative;
  position: absolute;
  display: block;
  content: '';
  /* width: 50%;
  height: 100%; */
  width: 20px;
  height: 20px;
}
.tgl-light:checked + .tgl-btn {
  background: #00ca62;
}
.tgl:checked + .tgl-btn:after {
  left: 54%;
}
/* 토글버튼 e*/

/* 상세 컨테이너 s*/
.container-top {
  margin: 71px 0 -80px;
  background: #f7f7f7;
  height: 72px;
}
.container-top h2 {
  float: left;
  padding: 0 0 0 40px;
  line-height: 72px;
  font-size: 20px;
}
.savebtn {
  float: right;
  padding: 15px 50px 15px 0;
}
.savebtn button {
  margin-left: 50px;
  padding: 0 22px;
  height: 42px;
  background: #00ca62;
  color: #fff;
  font-size: 14px;
}
.toggle-btn {
  display: inline-block;
}
.toggle-btn span {
  padding-right: 4px;
}
/* 상세 컨테이너 e*/
